@import url(/styles/shared.css);

.contact-us-wrapper {
    .wrapper-row {
        height: 100vh;
        .left-side-of-contact-us {
            background-color: #F4FCFB;
            .content-wrapper {
                background-image: url(/assets/images/left-side-bg.png);
                background-position: center;
                background-size: auto;
                background-repeat: no-repeat;
                height: 100vh;
                .main-logo-container {
                    img {
                        width: 140px;
                        height: 55px;
                    }
                }

                .contact-heading {
                    color: #6B6B6B;
                    font-family: 'robotoNormalFont', sans-serif;
                    font-size: 18px;
                    font-weight: 400;

                }

                .contact-data {
                    font-family: 'poppinsMedium', sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 35px;
                }

            }
        }

        .right-side-of-contact-us  {
            .content-wrapper {
                height: 100vh;
               .home-anchor {
                    font-family: 'robotoNormalFont', sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    text-decoration: none;
                }
                
                .form-heading {
                    font-size: 24px;
                    font-weight: 600;
                    font-family: 'poppinsSemiBold', sans-serif;
                }

                input[type=tel] {
                    padding-top: 14px;
                    padding-bottom: 14px;
                }
          
                input[type=email] {
                    padding: 14px 30px;
                }

                input {
                    border-radius: 7px;
                }

                .submit-btn {
                    background-color: #54C1AF;
                    font-family: 'robotoMediumFont', sans-serif;
                    width: 100%;
                    color: white;
                    padding: 14px 30px;
                    line-height: 30px;
                    font-size: 24px;
                    font-weight: 500;

                }

                .social-links {
                    p {
                        color: #6B6B6B;
                        font-size: 14px;
                        font-family: 'robotoNormalFont', sans-serif;
                        font-weight: 400;
                    }

                    a {
                        text-decoration: none;
                    }
                }

            }
        }
    }
}
.iti { width: 100%; }

.iti__flag {background-image: url("../assets/images/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("../assets/images/flags@2x.png");}
}