@import url(/styles/shared.css);

// Start First SectionOn Safety
.heading-banner-and-text {
    height: 85vh;
    background-image: url(/assets/images/safety-heading-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
    background-size: 100% 100%;

    p {
        font-family: 'poppinsSemiBold', sans-serif;
        font-size: 55px;
        font-weight: 600;
        color: white;
    }
}

.heading-banner-and-text-on-mobile {
    height: 95vh;
    background-image: url(/assets/images/safety-heading-for-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
    background-size: cover;

    p {
        font-family: 'poppinsSemiBold', sans-serif;
        font-size: 55px;
        font-weight: 600;
        color: white;
    }    
}
// End First SectionOn Safety

.safety-second-section {
    .col-md-4 {
        img {
            width: 96px;
            height: 96px;
        }
    }
}

// Start safety Third Section
.box-wrapper {
    background-color: #ECF4F3;
    border-radius: 6px;
    height: 300px;
    width: 80%;
    h2 {
        font-size: 24px;
        font-family: 'poppinsSemiBold', sans-serif;
        font-weight: 600
    }

    p {
        font-family: 'robotoMediumFont', sans-serif;
        font-size: 18px;

    }

    a {
        text-decoration: none;
    }

}
// End safety Third Section

@media only screen and (max-width: 600px) { 

    #navbar {
        .container-fluid {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .heading-banner-and-text-on-mobile {
        p {
            font-size: 30px;
        }
    } 
    .heading-of-section {
        .first-heading-of-sections {
            font-size: 21px;
        }
        .second-heading-of-sections {
            font-size: 30px;
        }
    }
    
    .safety-fourth-section {
        .px-sm-0 {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    }

    .thumbnails-color-font {
        margin-top: 0 !important;
    }
    .box-wrapper {
        height: auto;
    }
}

@media only screen and (max-width: 576px) and (min-width: 340px) {
    .heading-banner-and-text-on-mobile {
        height: 60vh;
    }

}


@media only screen and (max-width: 340px) and (min-width: 320px) {
    .heading-banner-and-text-on-mobile {
        height: 70vh;
    }

}


@media only screen and (max-width: 767px) and (min-width: 577px) {
    .heading-banner-and-text-on-mobile {
        height: 62vh;
    }
}


@media only screen and (max-width: 1867px) and (min-width: 768px) {
    .heading-banner-and-text-on-mobile {
        background-size: cover;
        height: 70vh;
    }
}



@media only screen and (max-width: 1600px) and (min-width: 768px) {
    .heading-banner-and-text-on-mobile {
        background-size: 100% 100%;
    }

    .heading-banner-and-text {
        background-size: cover;
    }    

    .box-wrapper {
        height: auto;
    }
}



@media only screen and (max-width: 1869px) and (min-width: 1600px) {
    .box-wrapper {
        height: auto;
    }    
}